.image-area {
  padding: 0;
}
.single-img {
  margin: 40px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.single-img img {
  width: 230px;
  padding: 5px;
  opacity: 0.5;
}
img:hover{
    border: 1px double rgb(234, 29, 77);
    opacity: 1;
}
